<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Expense List</title>
</head>
<body class="bg-dark">
<section class="mt-3">
    <h1 class="text-white ms-2">Expenses List</h1>
    <table class="table table-info table-bordered">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
        <td><a class="btn btn-primary"  href="{% url 'expense_delete' expense.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</section>
<div class="ms-3">
    <a class="btn btn-primary mt-3" href="{% url 'add_expense' %}">Add New Expense</a>
    <a class="ms-2 btn btn-primary mt-3" href="{% url 'home' %}">Home</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
